body {
	background: lightgray;
}

#gravatar-test [type=email] {
	font-size: 20px;
	width: 300px;
}

#gravatar-test [type=submit] {
	font-size: 20px;
	-webkit-appearance: none;
}

#gravatar-test img {
	margin: 20px;
}
